* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 40px;
    margin-bottom: -10px;
}

div > .fa-camera-retro, .fa-laptop, .fa-video {
  font-size: 40px;
  color: #F2A93B;
}

.form-title, .form-description {
    text-align: center;
}

.camera-icon, .video-icon, .laptop-icon {
  display: flex;
  border: 2px solid #F2A93B;
  border-radius: 999px;
  height: 125px;
  width: 125px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.photography,
.videography,
.web {
    margin-top: 150px;
    margin-left: 25px;
  display: inline-flex;
  height: 500px;
  width: 400px;
  box-shadow: 0 0 12px #ccc;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.photography {
    margin-left: 18%;
}

.title {
    font-size: 36px;
    color: #F2A93B;
}

button {
    border: none;
    background-color: #F2A93B;
    padding: 20px 32px;
    color: #fff;
}

button:hover {
    transform: scale(0.90);
    cursor: pointer;
}

.description {
    font-size: 12px;
    padding: 0 15px;
    text-align: center;
}